@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body {
    font-family: 'Amatic SC', cursive;
    font-size: 1.2em;
}

.bg-nav {
    margin-top: -3rem;
    background-image: linear-gradient(#D4E6F1, #ffffff)
}

.text-title {
    font-family: 'Fredericka the Great', cursive;
    color: #ffffff;
}

.text-subtitle {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    color: #ffffff;
}

.bg-title {
    /* background-image: linear-gradient(to bottom right, #be2edd, #ff9ff3);*/
    background: url('../img/japan.jpg') center center no-repeat;
    background-size: cover;
}

.bg-mobile {
    background-image: linear-gradient(to bottom right, #efa9d9, #D4E6F1);
}

.bg-footer {
    background: #d8ecee;
    font-family: 'Permanent Marker', cursive;
    -webkit-text-stroke-color: #636262;
    -webkit-text-stroke-width: 0.5px;
    color: #f2f0f0;
}